/*
 * Copyright (c) 2020-2022 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */
#include "tam_board_nrf5340_cpuapp_common-pinctrl.dtsi"

/ {
	chosen {
		zephyr,bt-hci = &bt_hci_ipc0;
		watchdog0 = &wdt0;
	};
};

&vregmain {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregradio {
	regulator-initial-mode = <NRF5X_REG_MODE_DCDC>;
};

&vregh {
	status = "okay";
};

&gpiote {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";

	pwr-en-hog {
		gpio-hog;
		gpios = <7 GPIO_ACTIVE_HIGH>;
		output-high;
	};
};

&i2s0 {
	compatible = "nordic,nrf-i2s";
	status = "okay";
	pinctrl-0 = <&i2s0_default>;
	pinctrl-1 = <&i2s0_sleep>;
	pinctrl-names = "default", "sleep";
};

&uart0 {
	status = "disabled";
};

&i2c1 {
	compatible = "nordic,nrf-twim";
	status = "okay";
	pinctrl-0 = <&i2c1_default>;
	pinctrl-1 = <&i2c1_sleep>;
	pinctrl-names = "default", "sleep";

	bq27427: bq27427@55 {
		compatible = "ti,bq27421";
		reg = <0x55>;
	};

	imu: lsm6dsv16x@6a {
		compatible = "st,lsm6dsv16x";
		reg = <0x6a>;
		status = "okay";
	};

	max30101: max30101@57 {
		compatible = "maxim,max30101";
		reg = <0x57>;
		status = "okay";
	};
};

&spi4 {
	compatible = "nordic,nrf-spim";
	status = "okay";
	cs-gpios = <&gpio0 20 GPIO_ACTIVE_LOW>;
	pinctrl-0 = <&spi4_default>;
	pinctrl-1 = <&spi4_sleep>;
	pinctrl-names = "default", "sleep";

	cs47l63: cs47l63@0 {
		compatible = "cirrus,cs47l63";
		reg = <0>;
		spi-max-frequency = <8000000>;
		irq-gpios = <&gpio0 19 GPIO_ACTIVE_LOW>;
		reset-gpios = <&gpio0 17 GPIO_ACTIVE_LOW>;
		gpio9-gpios = <&gpio0 1 GPIO_ACTIVE_LOW>;
	};
};

&pwm0 {
	status = "disabled";
};

zephyr_udc0: &usbd {
	compatible = "nordic,nrf-usbd";
	status = "okay";

	hs_0: hs_0 {
		compatible = "usb-audio-hs";
		mic-feature-mute;
		mic-channel-l;
		mic-channel-r;

		hp-feature-mute;
		hp-channel-l;
		hp-channel-r;
	};
};

/* Include default memory partition configuration file */
#include <common/nordic/nrf5340_cpuapp_partition.dtsi>
#include "tam_board_nrf5340_shared.dtsi"
